Lab4_Clients/WebForm/wsdl.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://LDI/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://LDI/">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebService</wsdl:documentation>
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://LDI/">
<s:element name="Add">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="x" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="y" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="AddResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="AddS">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="data" type="tns:InputData"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="InputData">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="x" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="y" type="s:int"/>
</s:sequence>
</s:complexType>
<s:element name="AddSResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="AddSResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="Concat">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="d" type="s:double"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ConcatResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ConcatResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="Sum">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="a1" type="tns:A"/>
<s:element minOccurs="0" maxOccurs="1" name="a2" type="tns:A"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="A">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="s" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="k" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="f" type="s:float"/>
</s:sequence>
</s:complexType>
<s:element name="SumResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="SumResult" type="tns:A"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="HelloWorld">
<s:complexType/>
</s:element>
<s:element name="HelloWorldResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetQueryPage">
<s:complexType/>
</s:element>
<s:element name="GetQueryPageResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetQueryPageResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="AddSoapIn">
<wsdl:part name="parameters" element="tns:Add"/>
</wsdl:message>
<wsdl:message name="AddSoapOut">
<wsdl:part name="parameters" element="tns:AddResponse"/>
</wsdl:message>
<wsdl:message name="AddSSoapIn">
<wsdl:part name="parameters" element="tns:AddS"/>
</wsdl:message>
<wsdl:message name="AddSSoapOut">
<wsdl:part name="parameters" element="tns:AddSResponse"/>
</wsdl:message>
<wsdl:message name="ConcatSoapIn">
<wsdl:part name="parameters" element="tns:Concat"/>
</wsdl:message>
<wsdl:message name="ConcatSoapOut">
<wsdl:part name="parameters" element="tns:ConcatResponse"/>
</wsdl:message>
<wsdl:message name="SumSoapIn">
<wsdl:part name="parameters" element="tns:Sum"/>
</wsdl:message>
<wsdl:message name="SumSoapOut">
<wsdl:part name="parameters" element="tns:SumResponse"/>
</wsdl:message>
<wsdl:message name="HelloWorldSoapIn">
<wsdl:part name="parameters" element="tns:HelloWorld"/>
</wsdl:message>
<wsdl:message name="HelloWorldSoapOut">
<wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
</wsdl:message>
<wsdl:message name="GetQueryPageSoapIn">
<wsdl:part name="parameters" element="tns:GetQueryPage"/>
</wsdl:message>
<wsdl:message name="GetQueryPageSoapOut">
<wsdl:part name="parameters" element="tns:GetQueryPageResponse"/>
</wsdl:message>
<wsdl:portType name="SimplexSoap">
<wsdl:operation name="Add">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns sum of two integers</wsdl:documentation>
<wsdl:input message="tns:AddSoapIn"/>
<wsdl:output message="tns:AddSoapOut"/>
</wsdl:operation>
<wsdl:operation name="AddS">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns sum of two integers (JSON)</wsdl:documentation>
<wsdl:input message="tns:AddSSoapIn"/>
<wsdl:output message="tns:AddSSoapOut"/>
</wsdl:operation>
<wsdl:operation name="Concat">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns concat of string and double</wsdl:documentation>
<wsdl:input message="tns:ConcatSoapIn"/>
<wsdl:output message="tns:ConcatSoapOut"/>
</wsdl:operation>
<wsdl:operation name="Sum">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns object A</wsdl:documentation>
<wsdl:input message="tns:SumSoapIn"/>
<wsdl:output message="tns:SumSoapOut"/>
</wsdl:operation>
<wsdl:operation name="HelloWorld">
<wsdl:input message="tns:HelloWorldSoapIn"/>
<wsdl:output message="tns:HelloWorldSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetQueryPage">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the HTML content of Query.html</wsdl:documentation>
<wsdl:input message="tns:GetQueryPageSoapIn"/>
<wsdl:output message="tns:GetQueryPageSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SimplexSoap" type="tns:SimplexSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Add">
<soap:operation soapAction="http://LDI/Add" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddS">
<soap:operation soapAction="http://LDI/AddS" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Concat">
<soap:operation soapAction="http://LDI/Concat" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Sum">
<soap:operation soapAction="http://LDI/Sum" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="HelloWorld">
<soap:operation soapAction="http://LDI/HelloWorld" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetQueryPage">
<soap:operation soapAction="http://LDI/GetQueryPage" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="SimplexSoap12" type="tns:SimplexSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Add">
<soap12:operation soapAction="http://LDI/Add" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="AddS">
<soap12:operation soapAction="http://LDI/AddS" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Concat">
<soap12:operation soapAction="http://LDI/Concat" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Sum">
<soap12:operation soapAction="http://LDI/Sum" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="HelloWorld">
<soap12:operation soapAction="http://LDI/HelloWorld" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetQueryPage">
<soap12:operation soapAction="http://LDI/GetQueryPage" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Simplex">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebService</wsdl:documentation>
<wsdl:port name="SimplexSoap" binding="tns:SimplexSoap">
<soap:address location="http://localhost:64630/Simplex.asmx"/>
</wsdl:port>
<wsdl:port name="SimplexSoap12" binding="tns:SimplexSoap12">
<soap12:address location="http://localhost:64630/Simplex.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>